.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  padding-top: var(--spacing-sd-system-dimension-spacing-extra-large);
  padding-bottom: var(--spacing-sd-system-dimension-spacing-extra-large);
  display: flex;
  flex-direction: column;
  background: var(--colors-sd-system-color-impression-primary);
  border-right-style: solid;
  border-right-color: var(--colors-sd-system-color-component-outline);
  border-right-width: var(--border-widths-sd-system-dimension-border-medium);
  box-sizing: border-box;
}

.aside::before{
  content: "";
  position: absolute;
  top: 0;
  left: min(0px, calc(((100vw - 1440px) / 2) * -1));
  width: calc((100vw - 1440px) / 2);
  min-width: 80px;
  height: 100%;
  background: var(--colors-sd-system-color-impression-primary);
  z-index: -1;
}

.list{
  list-style: none;
  padding: 0;
  margin: 0;
  
  a {
    color: var(--colors-sd-system-color-impression-on-primary);
    display: block;
    line-height: 1.5;
    padding-top: var(--spacing-sd-system-dimension-spacing-extra-small);
    padding-bottom: var(--spacing-sd-system-dimension-spacing-extra-small);
    padding-left: var(--spacing-sd-system-dimension-spacing-extra-large);
    padding-right: var(--spacing-sd-system-dimension-spacing-small);
    text-decoration: none;
  }

  a:hover{
    background: var(--colors-sd-system-color-interaction-hovered-variant);
  }

  a[data-title-length-long="true"]{
    letter-spacing: -0.02em;
  }

  .active{
    background: var(--colors-sd-system-color-impression-secondary);
  }

  .active:hover{
    background: color-mix(in srgb, var(--colors-sd-system-color-interaction-hovered-variant));
  }
}


@media (max-width: 767.999px){
  .aside{
    width: 100%;
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--spacing-sd-system-dimension-spacing-extra-large);
    padding-right: var(--spacing-sd-system-dimension-spacing-extra-large);
    justify-content: center;
  }

  .list{
    display: none;
  }
}
